<div class="container  ">
    <div class=" border-bottom border-3 text-center mt-2" >
        <h4>Edit Album Review</h4> 
        <div class="my-3 d-flex flex-column flex-md-row justify-content-around" >
            <div class="d-flex flex-column">
                <img class="img-fluid rounded mx-auto d-block" src={{liveImage}} >
                <div class="border-bottom border-2 border-black fs-2 mb-2"><strong>Spotify Embedded Player:</strong></div>
                <div id="spotifyPlayer" class=""></div>
            </div>
            <div class="flex-column text-start ms-md-3  ">
                @if (registrationStatus.message === "Not attempted yet") {
                    

                    <form [formGroup]="form" class="d-flex flex-column ">
                <div class="border-bottom border-2 border-black fs-2"><strong>Title:</strong></div>
                <input matInput type="text" formControlName="albumName">

                <div class="border-bottom border-2 border-black fs-2"><strong>Cover Image Link:</strong> </div>
                <input matInput type="text" (ngModelChange)="fetchImage()" formControlName="coverImg">

                <div class="border-bottom border-2 border-black fs-3 "><strong>Genre:</strong> </div>
                <input matInput type="text" formControlName="genre">

                <div class="border-bottom border-2 border-black fs-3 "><strong>Release Date:</strong> </div>
                <input matInput type="text" placeholder="YYYY-MM-DD" formControlName="releaseDate">

                <div class="border-bottom border-2 border-black fs-3 "><strong>Runtime:</strong> </div>
                <input matInput type="text" placeholder="NUM of minutes" formControlName="runtime">

                <div class="border-bottom border-2 border-black fs-3"><strong>Number of Tracks:</strong></div>
                <input matInput type="text" formControlName="numberOfTracks">

                <div class="border-bottom border-2 border-black fs-5 "><strong class="fs-4">Description:</strong> </div>
                <input matInput type="text" formControlName="description">

                <div class="border-bottom border-2 border-black fs-3 "><strong>Band / Artist:</strong> </div>
                <input matInput type="text" formControlName="artist">

                <div class="border-bottom border-2 border-black fs-3 "><strong>Track List:</strong> </div>
                <input matInput type="text" formControlName="trackList" placeholder='Song_1, Song_2, Song_3'>

                <div class="border-bottom border-2 border-black fs-3"><strong>Spotify Embedded Player:</strong></div> 
                <input matInput type="text" (ngModelChange)="fetchSpotifyPlayer()" formControlName="spotifyLink">       

                <div class="border-bottom border-2 border-black fs-3 "><strong>Review:</strong> </div>
                <textarea matInput class="mb-2" type="text" formControlName="review"></textarea>

                <button
                mat-flat-button
                color="primary"
                [disabled]="form.invalid"
                (click)="onSubmit(form.value)"> Edit Review </button>
            </form>
            

        } @else {
            @if (registrationStatus.success) {
                <div class="alert alert-success mt-2 w-50">
                    <strong>Success: Album review for {{albumToUpdate.albumName}} was updated!</strong> {{ registrationStatus.message }}
                </div>
            } @else {
                <div class="alert alert-danger mt-2 w-50 ">
                    <strong>Error: Album review for {{albumToUpdate.albumName}} was not updated!</strong> {{ registrationStatus.message }}
                </div>
            }
        }
                
            </div>
        </div>
        
    </div>
</div>