USE [CF-FinalProjectDB]
GO
/****** Object:  User [nikos]    Script Date: 17-Jun-24 7:12:48 PM ******/
CREATE USER [nikos] FOR LOGIN [nikos] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nikos]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 17-Jun-24 7:12:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[mediaID] [int] IDENTITY(1,1) NOT NULL,
	[albumName] [nvarchar](max) NOT NULL,
	[releaseDate] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[runtime] [nvarchar](max) NOT NULL,
	[numberOfTracks] [int] NOT NULL,
	[coverImg] [nvarchar](max) NOT NULL,
	[genre] [nvarchar](max) NOT NULL,
	[review] [nvarchar](max) NOT NULL,
	[artist] [nvarchar](max) NOT NULL,
	[spotifyLink] [nvarchar](max) NOT NULL,
	[trackList] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[mediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 17-Jun-24 7:12:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[comment] [nvarchar](max) NULL,
	[date] [nvarchar](max) NULL,
	[mediaType] [nvarchar](max) NULL,
	[mediaID] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 17-Jun-24 7:12:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[mediaID] [int] IDENTITY(1,1) NOT NULL,
	[movieName] [nvarchar](100) NOT NULL,
	[releaseDate] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[runtime] [nvarchar](100) NOT NULL,
	[coverImg] [nvarchar](max) NOT NULL,
	[genre] [nvarchar](100) NOT NULL,
	[review] [nvarchar](max) NOT NULL,
	[director] [nvarchar](100) NOT NULL,
	[cast] [nvarchar](max) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[mediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-Jun-24 7:12:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[userRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoGames]    Script Date: 17-Jun-24 7:12:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoGames](
	[mediaID] [int] IDENTITY(1,1) NOT NULL,
	[gameName] [nvarchar](max) NOT NULL,
	[releaseDate] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[coverImg] [nvarchar](max) NOT NULL,
	[genre] [nvarchar](max) NOT NULL,
	[review] [nvarchar](max) NOT NULL,
	[publisher] [nvarchar](max) NOT NULL,
	[platforms] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VideoGames] PRIMARY KEY CLUSTERED 
(
	[mediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [username], [comment], [date], [mediaType], [mediaID]) VALUES (63, N'nikos', N'Inception is a masterpiece!', N'09/06/2024', N'Movie', 1)
INSERT [dbo].[Comments] ([id], [username], [comment], [date], [mediaType], [mediaID]) VALUES (64, N'nikos', N'The Poison is a classic album by Bullet for my Valentine!', N'09/06/2024', N'Album', 1)
INSERT [dbo].[Comments] ([id], [username], [comment], [date], [mediaType], [mediaID]) VALUES (65, N'nikos', N'Silent Hill 2! A psychological horror classic!', N'09/06/2024', N'Video Game', 1)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [username], [password], [email], [userRole]) VALUES (140, N'Nikos', N'$2a$11$dHMlsSj1p6/ssn9RzKphROBfU1dd9e7b7trY8bQFZb/kW.YQeVSZK', N'nikos@email.com', N'Admin')
INSERT [dbo].[Users] ([Id], [username], [password], [email], [userRole]) VALUES (144, N'test', N'$2a$11$XGPHiv7BRc496kROb1cjeOnqE4vIozw0WSqAB3ucg1FQUqIAFVnUC', N'test@email.com', N'Simple User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VideoGames] ON 

SET IDENTITY_INSERT [dbo].[VideoGames] OFF
GO
