<div class="background">
    <h4>Update your profile details!</h4>
    @if (updateStatus.message === "Not attempted yet") {
        <form [formGroup]="form" class="d-flex flex-column ">

            <mat-form-field>
                <mat-label>
                    Username
                </mat-label>
                <input
                matInput
                type="text"
                (blur)="check_duplicate_username()"
                formControlName = "username" />
                @if (form.get('username').invalid && form.get('username').touched) {
                    <mat-error>
                        Username is required
                    </mat-error>
                }
                @if (form.get('username').hasError("duplicateUsername")) {
                    <mat-error>Username is already registered!</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Email
                </mat-label>
                <input matInput type="text" (blur)="check_duplicate_email()" 
                formControlName="email">
                @if(form.get('email').hasError("duplicateEmail")) {
                    <mat-error>Email is already registered!</mat-error>
                } @else {
                    @if(form.get('email').invalid && form.get('email').touched) {
                        <mat-error>
                            Email is missing or required
                        </mat-error>
                    }
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Password
                </mat-label>
                <input
                matInput
                type="password"
                formControlName = "password" />
                @if (form.get('password').invalid && form.get('password').touched) {
                    <mat-error>
                        Password is required
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    Confirm Password
                </mat-label>
                <input
                matInput
                type="password"
                formControlName = "confirmPassword" />
                @if (form.get("confirmPassword").hasError("passwordMismatch")) {
                    <mat-error>Passwords do not match</mat-error>
                } @else {
                    @if (form.get('confirmPassword').invalid && form.get('confirmPassword').touched) {
                        <mat-error>
                            Confirm Password is missing or invalid
                        </mat-error>
                    }
                }
            </mat-form-field>
        
            <button class="w-50 mx-auto"
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            (click)="onSubmit(form.value)"> Update Details </button>
            
        </form>
        
    }@else {
        @if (updateStatus.success) {
            <div class="alert alert-success mt-2 w-50">
                <strong>Success:</strong> {{ updateStatus.message }}
            </div>
        } @else {
            <div class="alert alert-danger mt-2 w-50 ">
                <strong>Error:</strong> {{ updateStatus.message }}
            </div>
        }
    }
</div>    
