.review {
    overflow: hidden;
    transition: transform 0.3s ease;
}
.review:hover {
    background-color: rgba(253, 227, 142, 0.5);
    transform: scale(1.1);
}

img {
    height: 300px;
    width: 225px;
}

h4{
    min-height: 90px;
    margin: auto;
}

a{
    max-height: fit-content;
    overflow: hidden;
    max-width: 230px;
}
