/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-color: #E6C000;
    background-image: linear-gradient(to bottom right, #E38B09, #E6C000)
}
